.cbr-date {
  overflow: auto;
}
.cbr-date span{
  font-style: italic;
  font-weight: bold;
  float: right;
}
.cbr-rate {
  border-bottom: solid 1px #ccc;
  padding-left: 20px;
}
.cbr-rate  span{
  float: right;
}